---
title: NR Mockup
---

<div class="welcome">
  <h1>Nef Rossano</h1>
  <p class="doc">
    <%= link_to "Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->